
<div class="user-header"> Welcome to the Tower of Courage, {{name}}!</div>

  <div class="col-md-6 charCreate">
    <h3>Create a New Character:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="char-name">Character Name:</label>
        <input class="form-input" type="text" id="char-name" name="char-name" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

{{#if playerchars.length}}
<div class="arena">
  <div class="Characters"> Please select the character you would like to use.
      {{#each playerchars as |playerchar|}}
    <div class="playerchar">
        <a href="#" onclick="Game.gameStart(`{{playerchar.classType}}`)">
            <img class="char-img" src="/images/heroes/{{playerchar.classType}}_idle.png" alt="{{playerchar.classType}}" style="transform: scale(2)">
            <div>
                <h2>{{playerchar.character_name}}</h2>
                <h3>{{playerchar.classType}}</h3>
                <p>{{playerchar.classDesc}}</p>
            </div>
        </a>
      </div>
    {{/each}}
    <div class="enemy"></div>
    </div>
    </div>
    <div class="gamePlay">
    <div class="actions"></div>
    {{!-- <div class="enemy"></div> --}}
    </div>
{{/if}}


