
    <div class="user-header"> Welcome to the Tower of Courage, {{name}}!</div>


  {{#if chars.length}}
  <div class="char-list">
      {{#each chars as |char}}
    <div class="Characters">
        <a href="#" onclick="Game.gameStart(`{{char.classType}}`)">
            <img class="char-img" src="../public/images/heroes/{{char.classType}}_idle.png" alt="{{char.classType}}" style="transform: scale(2)">
            <div>
                <h2>{{char.character_name}}</h2>
                <h3>{{char.classType}}</h3>
                <p>{{char.classDesc}}</p>
            </div>
        </a>
    {{/each}}
    </div>
  {{/if}}

    <div class="actions"></div>
    <div class="arena"></div>
    <div class="enemy"></div>

</body>
</html>